<table>
  <tr *ngFor="let message of messages">
    <td>{{message.id}}</td>
    <td>{{message.title}}</td>
    <td>{{message.body}}</td>
    <td><button (click)="editMessage(message.id, titleEl.value, bodyEl.value)">edit</button></td>
    <td><button (click)="deleteMessage(message.id)">delete</button></td>
  </tr>
</table>

<div>
  <div>
    <input type="text" name="title" placeholder="title" #titleEl>
  </div>
  <div class="">
    <textarea placeholder="body" name="body" rows="8" cols="80" #bodyEl></textarea>
  </div>
  <button (click)="addMessage(titleEl.value, bodyEl.value)" type="button" name="button">add message</button>
</div>
